@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
}
.container {
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}
header .fixed-top{
  background-color: white;
}
header .navbar-brand{
  font-weight: 400;
}
header .navbar-brand span{
  color: #057a63;
  font-weight: 600;
}
header .navbar-light .navbar-toggler{
  border: none;
}header .navbar-light .navbar-nav .nav-link{
  color: #000000;
}
header .navbar-light .navbar-nav .nav-link:hover{
  text-decoration: underline;
  text-decoration-color: #057a63;
}
header .navbar-light .navbar-nav .active{
  text-decoration: underline;
  text-decoration-color: #057a63;
}
header form .btn {
  background-color: #057a63;
  color: #ffffff;
  width: 100%;
}
header form .btn:hover {
  background-color: #057a63;
  color: #ffffff;
}
main .hero{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url(../images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  height: 70vh;
  width: 100%;
}
main .hero-content{
  margin-top: 170px;
}
main .hero-content h1{
  color: #ffffff;
}
main .hero-content small{
  color: #ffffff;
}
main .hero .form-group input{
  width: 100%;
  position: relative;
}
main .hero .form-group i{
  position: absolute;
  right: 30px;
  top: 285px;
}
main .results{
  margin: 30px auto;
  width: 90%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(350px, 1fr));
  
}
main .results .img-container{
  width: 100%;
  margin: 0px auto;
}
main .results img{
   width: inherit; 
  height: inherit; 
  object-fit: cover;
}
main .results .img-items{
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));
  color: #000000;
  padding: 10px;
}
main .results .img-items p{
  padding-left: 5px;
  font-size: 18px;
  font-weight: 600;
}
main .results .img-items p span{
  font-weight: 400;
}
main .results .img-items i{
  margin: 5px 10px 0px 10px ;
}

@media( max-width: 410px ){
  main .hero .form-group i{
    position: absolute;
    right: 30px;
    top: 330px;
  }
}
@media(min-width: 768px){
  header form .btn {
    background-color: #057a63;
    color: #ffffff;
    width: inherit;
  }
  main .hero .form-group i{
    position: absolute;
    right: 50px;
    top: 237px;
  }
}